.search-bar{
    display: flex;
    border: 3px solid #e6e33e6e;
    border-radius: 20px;
    padding: 5px;
    padding-left: 20px;
}

.search-input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 20px;
    color: #646464;
}

.search{
    background-color: blue;
    color: white;
    padding: 16px 30px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: none;
}